@import "blocks/logo";
@import "mixins";
@import "pages/_registration";
@import "pages/main-page";
@import "pages/detailed";
@import "pages/review";

//Blocks
@import "./blocks/search-input";
@import "./blocks/profile-logo";
@import "./blocks/profile";

// Лучше всё же вынести эти классы в новый файл, а этот файл будет содержать только импорты, что-то вроде точки входа получится
.wrapper {
  font-family: 'Poppins', sans-serif;
  background-color: var(--white);

  &__header {
    margin-top: 30px;
    padding: 0 20px;
  }

  &__main {
    margin-top: 40px;
    padding: 0 20px;
  }
}


.spacer {
  flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

:root {
  --dark-grey: #2E2E2E;
  --light-grey: #DCE1E2;
  --bg: #F5F5F8;
  --placeholder: #A3ABAD;
  --primary: #6E49CB;
  --light-primary: #ECE5FF;
  --grey: #545356;
  --contrast: #FC6D26;
  --white: #fff;
  --profile-logo: #6E49CB;
}