<body class='wrapper'>
  <header class="header wrapper__header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <app-main-logo logoSize='small'></app-main-logo>
      </div>
      <div class="header__search">
        <app-search-input></app-search-input>
      </div>
      <ng-container *ngIf='!(isLoggedIn$ | async)'>
        <div class="header__account account">
          <a href="" class="account__link" [routerLink]="['/login']">Login</a>
          <span class="account__span">/ </span>
          <a href="" class="account__link" [routerLink]="['/register']">Signup</a>
        </div>
      </ng-container>
      <ng-container *ngIf='(isLoggedIn$ | async)'>
        <div class="header__profile">
          <app-profile-info></app-profile-info>
        </div>
      </ng-container>
    </div>
  </div>
</header>
</body>
