<body class='wrapper'>
  <header class="header wrapper__header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <app-main-logo logoSize='small'></app-main-logo>
      </div>
      <div class="header__search search">
        <input type="text" class="search__input" placeholder="Search your books ">
        <button class="search__icon" type="button">
          <span class="material-symbols-outlined">search</span>
        </button>
      </div>
      <!--        Блок регистрации для страницы при условии что пользователь не зарегистрирован        -->
      <!--                    <div class="header__account account">-->
      <!--                        <a href="" class="account__link">Login</a>-->
      <!--                        <span class="account__span">/ </span>-->
      <!--                        <a href="" class="account__link">Signup</a>-->
      <!--                    </div>-->
      <div class="header__profile profile">

      </div>
    </div>
  </div>
</header>
</body>
