@import "../_mixins";
@import "../search-input";

.header {
  height: 60px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__logo {
    @include full-center;
  }

  &__search {
    @include full-center;
  }

  &__account {
    @include full-center;
  }

  &__profile {
    @include full-center
  }
}

.account {
  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: var(--primary);
    margin-right: 5px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      margin-right: 0;
      margin-left: 5px;
    }
  }


  &__span {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }
}

@include mobile {
  .search {
    display: none;
  }

  .header__wrapper {
    padding: 0 20px;
  }
}

@include desktop {
  .spacer {
    display: none;
  }
  .header__wrapper {
    padding: 0;
  }
}