<div class="book-info">
  // TODO нужно будет передовать значения для размеров
  <h1 class="book-info__title">{{bookProps.name}}</h1>
  <div class="book-info__description book-info__description--sm">{{bookProps.description}}</div>
<!--  <div class="book-info__footnotes book-info__footnotes&#45;&#45;sm">-->
<!--    <app-book-footnote *ngFor='let footnote in footnotes' size='sm' [status]='footnote.'></app-book-footnote>-->
<!--    <div class="footnote footnote&#45;&#45;sm">Анна Кроу</div>-->
<!--    <div class="footnote footnote&#45;&#45;addition_sm">Русское фэнтези-->
<!--    </div>-->
<!--    <div class="footnote footnote&#45;&#45;addition_sm">-->
<!--      Современная русская литература-->
<!--    </div>-->
<!--  </div>-->
</div>
