<!--<div class="bookSet-info">-->
<!--  // TODO нужно будет передовать значения для размеров-->
<!--  <h1 class="bookSet-info__title">{{bookProps.name}}</h1>-->
<!--  <div class="bookSet-info__description bookSet-info__description&#45;&#45;sm">{{bookProps.description}}</div>-->
<!--&lt;!&ndash;  <div class="bookSet-info__footnotes bookSet-info__footnotes&#45;&#45;sm">&ndash;&gt;-->
<!--&lt;!&ndash;    <app-bookSet-footnote *ngFor='let footnote in footnotes' size='sm' [status]='footnote.'></app-bookSet-footnote>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="footnote footnote&#45;&#45;sm">Анна Кроу</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="footnote footnote&#45;&#45;addition_sm">Русское фэнтези&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="footnote footnote&#45;&#45;addition_sm">&ndash;&gt;-->
<!--&lt;!&ndash;      Современная русская литература&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->
