<div class="book">
  <div>
    <app-book-img imgSize='lg' [imgSrc]='bookProps.imgUrl'></app-book-img>
  </div>
  <div class="book__info">
    <a href="#" class="book__name">{{bookProps.name}}</a>
    <div class="book__description">{{bookProps.decsription}}
  </div>
<!--    <div class="book__score score">-->
<!--      <div class="score__star">-->
<!--                                    <span class="material-symbols-rounded">-->
<!--                                        star-->
<!--                                    </span>-->
<!--      </div>-->
<!--      <div class="score__star">-->
<!--                                    <span class="material-symbols-rounded">-->
<!--                                        star-->
<!--                                    </span>-->
<!--      </div>-->
<!--      <div class="score__star">-->
<!--                                    <span class="material-symbols-rounded">-->
<!--                                        star-->
<!--                                    </span>-->
<!--      </div>-->
<!--      <div class="score__star">-->
<!--                                    <span class="material-symbols-rounded">-->
<!--                                        star-->
<!--                                    </span>-->
<!--      </div>-->
<!--      <div class="score__star  score__star&#45;&#45;active">-->
<!--                                    <span class="material-symbols-rounded">-->
<!--                                        star-->
<!--                                    </span>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
