.book-img {
  &--lg {
    img {
      object-fit: cover;
      width: 140px;
      height: 232px;
      border-radius: 10px;
    }
  }

  &--xl {
    img {
      object-fit: cover;
      width: 253px;
      height: 392px;
      border-radius: 10px;
    }
  }
}