.book-img {
  // По бэму, модификаторы обозначаются через одно нижнее подчеркивание. Мы у себя в проекте используем -- поскольку привыкли и нам так удобнее, но это неправильно
  &--lg {
    // Не совсем правильный подход, таким образом ты повышаешь вес выражения + задавать стили напрямую селекторам оправдано только в случае каких-то максимально общих стилей, которые гарантированно будут у каждого такого селектора.
    // Правильнее было бы сделать так
    // 1. создать класс типа book-img__image--lg
    // 2. Присвоить его нужной картинке
    img {
      object-fit: cover;
      width: 140px;
      height: 232px;
      border-radius: 10px;
    }
  }

  &--xl {
    img {
      object-fit: cover;
      width: 253px;
      height: 392px;
      border-radius: 10px;
    }
  }

  &--sm {
    img {
      object-fit: cover;
      width: 143px;
      height: 222px;
      border-radius: 10px;
    }
  }
}
