@import "rating";

.feedback {

  &__info {
    display: flex;
    align-items: center;
  }

  &__date {
    font-weight: 400; // Значение по-умолчанию
    font-size: 14px;
    line-height: 21px;
    color: var(--placeholder);
  }

  &__text {
    font-weight: 400;// Значение по-умолчанию
    font-size: 14px;
    line-height: 25px;
    color: var(--grey);

    &--link {
      color: var(--primary);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__rating {
    margin-bottom: 20px;
  }
// Лишние пустые строки

}
