.form-label {
  display: block;
  font-weight: 400; // Значение по-умолчанию
  font-size: 14px;
  line-height: 21px;
  color: var(--grey);
  // Блок не должен влиять на свое окружение, т. е. блоку не следует задавать внешнюю геометрию (в виде отступов, границ, влияющих на размеры) и позиционирование.
  // https://ru.bem.info/methodology/quick-start/#%D0%B1%D0%BB%D0%BE%D0%BA
  margin-bottom: 5px;
}

.text-field {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background: var(--bg);
  // Блок не должен влиять на свое окружение, т. е. блоку не следует задавать внешнюю геометрию (в виде отступов, границ, влияющих на размеры) и позиционирование.
  // https://ru.bem.info/methodology/quick-start/#%D0%B1%D0%BB%D0%BE%D0%BA
  border: none;
  border-radius: 10px;
  font-size: 18px;
  line-height: 27px;
  color: var(--dark-grey);
  padding: 15px 20px;

  &::placeholder {
    color: var(--placeholder);
  }
}

.form__btn {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background-color: var(--primary);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  border: none;
  color: var(--white);
  cursor: pointer;

  &--sm {
    width: 250px;
    height: 55px;
  }

  &:hover {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);
  }
}