.genres-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(89px, 93px));
  gap: 20px;

  &__genre {
    box-sizing: border-box;
    width: 93px;
    height: 29px;
    border: none;
    background-color: var(--light-primary);
    border-radius: 5px;
    font-weight: 400; // Значение по-умолчанию
    // Эти 4 свойства вместе (15-18 строки) я вижу у тебя довольно часто. Хороший кандидат для выноса в отдельный класс типа "flex_centered" (название класса можно и лучше придумать)
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 21px; // Очень часто вижу это свойства с этим значением
    color: var(--primary);
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
      color: var(--white);
    }

    &--active {
      width: 89px;
      height: 29px;
      background-color: var(--primary);
      color: var(--white);
    }
  }
}