@import "../_mixins";
// Поскольку файл находится в той же директории можно просто @import "search-input"; Аналогично и в других файлах
@import "../blocks/search-input";
@import "../blocks/profile-logo";
@import "../blocks/profile";

.header {
  height: 60px;

  &__wrapper {
    display: flex;
  }

  &__logo {
    @include full(start);
  }

  &__search {
    @include full(center);
  }

  &__account {
    @include full(end);
  }

  &__profile {
    @include full(end);
  }
}

.account {
  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: var(--primary);
    margin-right: 5px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      margin-right: 0;
      margin-left: 5px;
    }
  }


  &__span {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }
}

// Многовато лишних строк


@include mobile {
  .search {
    display: none;
  }
}

@include desktop {
 // TODO убрать spacer
  // Не стоит делать так в связке с БЭМ, таким способом ты увеличиваешься вес для выбранного класса, что не соотносится с БЭМом
  // Далее буду помечать такие места как "увеличение веса класса"
  //.header__wrapper>.spacer {
  //  display: none;
  //}
}