@import "../mixins";

.profile {
  &__link {
    text-decoration: none;
    display: flex;
    gap: 15px;

    &:hover .profile-logo__holder {
      //"увеличение веса класса"
      color: var(--primary);
      background-color: var(--white);
      border: 1px solid var(--primary);
    }

    &:hover .profile__info {
      color: var(--primary);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }


  &__info {
    font-weight: 400; // Значение по-умолчанию
    font-size: 18px;
    line-height: 27px;
    color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;

    &--sm {
      font-size: 16px; // значение по-умолчанию
      line-height: 24px;
    }
  }

  &__status {
    font-weight: 400; // значение по-умолчанию
    font-size: 14px;
    line-height: 21px;
    color: var(--grey);

  }
}

@include mobile {
  .profile__info {
    font-size: 16px;
    line-height: 1;
  }
}