.score {
  display: flex;
  gap: 10px;

  .score__star {
    cursor: pointer;
    & > .material-symbols-rounded { //"увеличение веса класса"
      color: #f8cf04;
      font-size: 36px;
      font-variation-settings: 'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
    }

    &:hover > .material-symbols-rounded { //"увеличение веса класса"
      font-variation-settings: 'FILL' 1
    }

    &--active > .material-symbols-rounded { //"увеличение веса класса"
      font-variation-settings: 'FILL' 1
    }
  }
}

