@import "../mixins";

.set-books {
  &:last-child {
    // Блок не должен влиять на свое окружение, т. е. блоку не следует задавать внешнюю геометрию (в виде отступов, границ, влияющих на размеры) и позиционирование.
    // https://ru.bem.info/methodology/quick-start/#%D0%B1%D0%BB%D0%BE%D0%BA
    margin-bottom: 40px;
  }

  display: flex;
  flex-direction: column;
  width: 100%;

  &__genres {
    margin-bottom: 30px;
  }

  &__info {
    display: flex;
    margin-bottom: 20px;
  }

  &__title {
    @include full(start);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    color: var(--dark-grey);
  }

  &__link {
    @include full(end);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    text-transform: uppercase;
    color: var(--primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;

    @include mobile-s {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }
}

@include mobile {
  .set-books {
    &__title {
      line-height: 1;
    }

    &__link {
      line-height: 1;
    }
  }
}